// Colors

$mk_color_brand: #243742;
$mk_color_primary: #5D8DA8;



// Override

$o-community-color: $mk-color-brand;
$o-enterprise-color: $mk-color-brand;
$o-enterprise-action-color: $mk-color-primary;

$o-brand-odoo: $mk-color-brand;
$o-brand-primary: $mk-color-primary;



$o-theme-text-colors: (
    "primary": $mk-color-brand,
    
);
