.grey-field {
    background-color: grey;
    color: black;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #000;
    padding: 5px 10px;
    font-weight: 500;
    }

.default-field {
     background-color:transparent;

}
